body {
    font-family: Arial, sans-serif;
    background-color: #e6f4ea;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    border-top: 4px solid #2e7d32;
}

.top-image {
    display: block;      
    margin: 0 auto 20px auto;
    width: 100px;
    height: auto;
}


.titulo {
    margin: 0 0 20px 0;
    font-size: 24px;
    color: #2e7d32;
    text-align: center; 
}

form {
    text-align: left; 
}

label {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    color: #2e7d32;
}

input[type="text"] {
    width: 100%;
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

    button {
        padding: 10px 20px;
        margin: 10px 5px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

    .btn-salvar {
        background-color: #28a745;
        color: #e6f4ea;
    }
    .btn-ver {
        background-color: #28a745;
        color: #e6f4ea;
    }

    #listaSalvos {
        margin-top: 20px;
        padding-left: 0;
        list-style-type: none;
    }

    #listaSalvos li {
        background-color: #e6f4ea;
        border: 1px solid #dee2e6;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
    }


